.cadre {
    box-shadow: 8px 8px 12px #aaa;
    padding: 20px;
    border-radius: 7px;
    background-color: white;
    color: black;
}

body {
    font-size: 14px;
}

a img:hover, a img:focus {
    cursor: pointer;
}

.img-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    top: -10px;
}

.span-avatar {
    position: relative;
    font-size: 18px;
    top: -8px;
}

.media-object {

    width: 100%;
    margin-bottom: 15px;
}

.media-heading {
    margin-bottom: 15px;
}

.btn {

    padding: 5px 15px;
}

.alert {
    font-size: 15px !important;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
    }
}