{% extends "base.html.twig" %}

{% block title %}
    Home - {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">
    <h2>Liste de figures de SnowBoard</h2>
    <hr>
    <div class="col-xs-10 col-xs-offset-1">

        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img src="{{ asset('uploads/tricks/grabs.jpg') }}" class="media-object" alt="avatar">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Les grabs
                    <small><i> Publié le 10 janvier 2018</i></small>
                    <span class="fa fa-pencil"></span>
                    <span class="fa fa-remove"></span>
                </h4>
                <p>Un grab consiste à attraper la planche avec la main pendant le saut.
                    Le verbe anglais to grab signifie « attraper. »
                    Il existe plusieurs types de grabs selon la position de la saisie et la main choisie
                    pour l'effectuer, avec des difficultés variables <a href="#">[lire la suite...]</a></p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img src="{{ asset('uploads/tricks/grabs.jpg') }}" class="media-object" alt="avatar">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Les grabs
                    <small><i> Publié le 10 janvier 2018</i></small>
                    <span class="fa fa-pencil"></span>
                    <span class="fa fa-remove"></span>
                </h4>
                <p>Un grab consiste à attraper la planche avec la main pendant le saut.
                    Le verbe anglais to grab signifie « attraper. »
                    Il existe plusieurs types de grabs selon la position de la saisie et la main choisie
                    pour l'effectuer, avec des difficultés variables <a href="#">[lire la suite...]</a></p>
            </div>
        </div>


    </div>


    {% endblock %}
